/*Cambiar color hover tr (modifica bootstrap)*/
.table-hover tbody tr:hover {

	background-color: rgba(41, 130, 231, 0.10);

}

/*Color de cabecera de tabla y centrado*/
th {
	text-align: center;
	color: white;
	background: #a82424;
}


/*Fondo de login */
#back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url('../dist/img/login_fondo.jpg');
	background-size: cover;
	overflow: hidden;
	z-index: -1;
}


/* -- tabla  Reg Venta--*/
.tabla-registro {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	border: 1px solid #ddd;
	line-height: 1.42857143;
    color: #333;
}
.tabla-registro th {
	padding: 5px 10px;
	color: white;
	background: #a82424;
}
.tabla-registro td {
	padding: 3px 10px;
}
.tabla-registro tr{
	border: 1px solid #ddd;
}
.tabla-registro tr:hover{
	background-color: rgba(0, 128, 0, 0.10);
}


/*Para efecto Cargando.....*/
#loading-screen {
	background-color: rgba(25,25,25,0.7);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	margin-top: 0;
	top: 0;
	text-align: center;
}
#loading-screen img {
	width: 100px;
	height: 100px;
	position: relative;
	margin-top: -50px;
	margin-left: -50px;
	top: 50%;
}